.page__wrapper-dashboard {
  width: 85%;
  padding: 0 15px;
  background-color: #ffffff;
  margin: auto 0;
  display: flex;
  flex-direction: column;
}

.dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em;
  width: 100%;
  max-width: 425px;
  margin: auto;
}

.dashboard__main {
  background-color: #ffffff;
  height: 100%;
  color: black;
  max-width: 425px;
  margin: 0 auto;
}

.nu__word {
  color: #fd377e;
}
.kenzie__word {
  color: rgb(12, 12, 12);
}

.kenzie__word,
.nu__word {
  font-weight: bold;
  font-size: 22px;
}

.button__inicio {
  background-color: E9ECEF;
  border: none;
  border-radius: 10px;
  padding: 0.75em;
  font-weight: bold;
}

.button__inicio:hover {
  filter: brightness(0.9);
}

.div__descricao > p {
  font-size: 16px;
  font-weight: normal;
}

.div__descricao > input {
  padding: 0.75em;
  border-radius: 8px;
  background-color: white;
}

::placeholder {
  opacity: 0.5;
}

#root > div > div > main > section > div > p:nth-child(3) {
  font-size: 12px;
  opacity: 0.7;
}

.resumo__section {
  padding: 3em 0em;
}

@media (min-width: 426px) {
  .page__wrapper-dashboard {
    padding: 0px 100px;
    max-width: 1440px;
    width: 80%;
    margin: auto;
  }

  .dashboard__header {
    max-width: inherit;
    width: 100%;
    justify-content: space-around;
  }

  .dashboard__main {
    max-width: inherit;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding: 5em 0em;
  }
}
