.resumo {
  font-size: 26px;
}

.resumo__section {
  max-height: 30vh;
  overflow: auto;
  padding-left: 0rem;
}

@media (min-width: 426px) {
  .resumo__section {
    max-height: 30vh;
    overflow: auto;
    padding-left: 4rem;
  }
}
